<h1>Editing orderlist</h1>

<%= render "form", orderlist: @orderlist %>

<br>

<div>
  <%= link_to "Show this orderlist", @orderlist %> |
  <%= link_to "Back to orderlists", orderlists_path %>
</div>
